.charges {

  &__list {
    margin-top: rem(20px);
    margin-bottom: rem(20px);

    @include from(l) {
      margin-top: rem(50px);
      margin-bottom: rem(50px);
    }
  }

  &__item {
    position: relative;
    overflow: hidden;

    &:hover {

      .charges__image img {
        transform: scale(1.2);
      }
    }
  }

  &__image {

    img {
      transition: all 4s;
    }
  }

  &__caption {
    @include coverAbsolute(2);

    a {
      display: block;
      text-align: center;
      @include center('both');

      &:hover {
        text-decoration: none;
      }
    }
  }
}
