.team-members {
  @include bgcover;
  background-image: url('../images/bg/bg-team.svg');
  background-position: top right;
  padding: rem(30px) 0;

  @include from(l) {
    padding: rem(120px) 0;
  }

  &__item {
    text-align: center;
    margin-bottom: rem(30px);

    @include from(l) {
      text-align: left;
      margin-bottom: rem(60px);
    }
  }
  &__image {

    img {
      max-width: 100%;
      height: auto;

      @include from(l) {
        max-width: 70%;
      }
    }
  }
}
