@mixin bodyText {
  font-family: $primary-font;
  font-weight: 400;
}

@mixin bodyMd {
  font-family: $primary-font;
  font-weight: 600;
}

@mixin bodyLt {
  font-family: $primary-font;
  font-weight: 300;
}

@mixin bodyBd {
  font-family: $primary-font;
  font-weight: 700;
}

@mixin secondaryText {
  font-family: $secondary-font;
  font-weight: 400;
}

@mixin secondaryMd {
  font-family: $secondary-font;
  font-weight: 600;
}

@mixin secondaryBd {
  font-family: $secondary-font;
  font-weight: 700;
}
